.username {
    -fx-font-weight: bold;
    -fx-font-color: #000000;
    -fx-cursor: hand;
}

.username:hover {
    -fx-text-fill: #F60EE7;
    -fx-font-size: 12px;
}

TextField {
   -fx-border-color: #CFCFCF;
   -fx-border-width: 1px;
   -fx-border-radius: 5px;
}

.sidebar__container {
   -fx-padding: 10px;
}

.store__btn {
    -fx-padding: 4px;
    -fx-text-fill: #F60EE7;
    -fx-background-color: #FFFFFF;
    -fx-border-width: 1px;
    -fx-border-color: #F60EE7;
    -fx-border-radius: 5px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.store__btn:hover {
-fx-text-fill: #FFFFFF;
    -fx-background-color: #F60EE7;
    -fx-border-color: #F60EE7;
}

.sidebar {
   -fx-background-color: #FFFFFF;
   -fx-padding: 7px;
   -fx-border-width: 1px;
   -fx-border-color: #C9C9C9;
   -fx-border-radius: 10px;
   -fx-background-radius: 10px;
}

.title__col {
   -fx-text-fill: #000000;
   -fx-font-size: 13px;
}

.nav__btn {
    -fx-cursor: hand;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.nav__btn:hover {
  -fx-border-color: transparent transparent #F60EE7 transparent;
    -fx-border-width: 0 0 2 0;
}

ScrollPane {
    -fx-background-color: transparent;
}

ScrollPane .viewport {
    -fx-background-color: transparent;
}

ScrollPane .scroll-bar:vertical {
    -fx-background-color: #f0f0f0;
    -fx-pref-width: 10px;
}

ScrollPane .increment-button, ScrollPane .decrement-button {
    -fx-background-color: #ddd;
    -fx-padding: 2px;
}

.del__btn {
    -fx-cursor: hand;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-text-fill:  #C70039;
    -fx-font-weight: bold;
}

.author__name {
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}

.author__penName {
    -fx-font-size: 10px;
    -fx-font-style: italic;
    -fx-text-fill: #333333;
}