.side__bar {
    -fx-background-color: #738BFF;
}

.logo__text {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

.side__bar Button {
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-padding: 10px;
    -fx-cursor: hand;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}